In [6]:
import pandas as pd

In [7]:
data=pd.read_excel('covid-19-state-level-data (1).xlsx',index_col=0)

In [8]:
data.shape

(8154, 5)

In [9]:
data.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

In [10]:
data.isna()

       date  state   fips  cases  deaths
0     False  False  False  False   False
1     False  False  False  False   False
2     False  False  False  False   False
3     False  False  False  False   False
4     False  False  False  False   False
...     ...    ...    ...    ...     ...
8149  False  False  False  False   False
8150  False  False  False  False   False
8151  False  False  False  False   False
8152  False  False  False  False   False
8153  False  False  False  False   False

[8154 rows x 5 columns]

In [11]:
data.dtypes

date      datetime64[ns]
state             object
fips               int64
cases              int64
deaths             int64
dtype: object

In [13]:
top_states = data.groupby('state')['deaths'].sum().nlargest(3).index
top_states_data = data[data['state'].isin(top_states)]

In [14]:
if not pd.api.types.is_datetime64_any_dtype(top_states_data['date']):
        top_states_data['date'] = pd.to_datetime(top_states_data['date'])

In [15]:
monthly_analysis = top_states_data.groupby(['state', pd.Grouper(key='date', freq='M')])['deaths'].sum().unstack()

In [16]:
monthly_analysis

date,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31
state,,,,,,
Massachusetts,0.0,340.0,42952.0,170827.0,228975.0,233699.0
New Jersey,NaN,1165.0,102708.0,308935.0,388821.0,435035.0
New York,NaN,7943.0,425198.0,854088.0,918476.0,898385.0

In [17]:
data['date'] = pd.to_datetime(data['date'])

In [18]:
data['month'] = data['date'].dt.month_name()

In [21]:
grouped_data = data.groupby(['month', 'state']).sum()
grouped_data

                     fips   cases  deaths
month state
April Alabama          30  125166    4044
      Alaska           60    8231     173
      Arizona         120  128668    4870
      Arkansas        150   53571    1007
      California      180  865585   30176
...                   ...     ...     ...
May   Virginia       1581  925411   30685
      Washington     1643  594493   30824
      West Virginia  1674   47442    1951
      Wisconsin      1705  385579   13922
      Wyoming        1736   22780     300

[289 rows x 3 columns]

In [27]:
monthly_analysis = {}
for month in ['March', 'April', 'May', 'June']:
    month_data = grouped_data.loc[month]
    month_data['percentage'] = month_data['deaths'] / month_data['cases'] * 100
    month_data = month_data.sort_values('percentage', ascending=False)
    monthly_analysis[month] = month_data.head(3)

In [28]:
monthly_analysis

{'March':             fips  cases  deaths  percentage
 state
 Washington  1643  46214    2377    5.143463
 Vermont     1250   1850      93    5.027027
 Louisiana    506  28913    1137    3.932487,
 'April':                           fips    cases  deaths  percentage
 state
 Northern Mariana Islands  2070      355      54   15.211268
 Michigan                   780   818293   59519    7.273556
 New York                  1080  6328973  425198    6.718278,
 'May':                           fips    cases  deaths  percentage
 state
 Northern Mariana Islands  2139      589      62   10.526316
 Michigan                   806  1558908  148969    9.555984
 Connecticut                279  1124193  101014    8.985468,
 'June':                 fips    cases  deaths  percentage
 state
 Connecticut      270  1348657  125398    9.297991
 Michigan         780  1981377  179464    9.057539
 Virgin Islands  2340     2250     180    8.000000}

In [29]:
import slack_sdk


import pandas as pd
import datetime

In [31]:
slack_token = 'xoxb-5366429129509-5382172846193-3ZCEhdVk9UtNn3u0xxPkoNuU'

In [47]:
slack_channel = 'D05AXUFTG7N'

In [37]:
data=pd.read_excel('covid-19-state-level-data (1).xlsx',index_col=0)

In [40]:
data['month'] = data['date'].dt.strftime('%B')

In [41]:
grouped_data = data.groupby(['month', 'state']).sum()

In [42]:
grouped_data

                     fips   cases  deaths
month state
April Alabama          30  125166    4044
      Alaska           60    8231     173
      Arizona         120  128668    4870
      Arkansas        150   53571    1007
      California      180  865585   30176
...                   ...     ...     ...
May   Virginia       1581  925411   30685
      Washington     1643  594493   30824
      West Virginia  1674   47442    1951
      Wisconsin      1705  385579   13922
      Wyoming        1736   22780     300

[289 rows x 3 columns]

In [43]:
monthly_analysis = {}
for month in ['March', 'April', 'May', 'June']:
    month_data = grouped_data.loc[month]
    month_data['percentage'] = month_data['deaths'] / month_data['cases'] * 100
    month_data = month_data.sort_values('percentage', ascending=False)
    top_states = month_data.head(3)
    monthly_analysis[month] = top_states

In [44]:
from slack_sdk import WebClient
import time

In [45]:
client = WebClient(token=slack_token)

In [48]:
for month, states_data in monthly_analysis.items():
    # Constructing the message text
    message = f"Top 3 states with the highest death percentages for {month}:\n\n"
    for state, data in states_data.iterrows():
        deaths = data['deaths']
        percentage = data['percentage']
        message += f"State: {state} - Deaths: {deaths}, Percentage: {percentage:.2f}%\n"

    
    response = client.chat_postMessage(
        channel=slack_channel,
        text=message
    )

    print(f"Message sent for {month}")

    # Adding a time lag of 1 minute before sending the next message
    time.sleep(60)

Message sent for March
Message sent for April
Message sent for May
Message sent for June